@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PolyFix.Models.CompletedSurvey;
@using Newtonsoft.Json.Linq;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Survey";



}


<div class="row">
    <div class="col">
        <div id="surveyContainer"></div>
    </div>
</div>



@section Scripts
{
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/survey-jquery@1.8.48/survey.jquery.min.js"></script>
    <script type="text/javascript" src="./index.js"></script>
    <script>
        var surveyJSON = {
            title: "Planned Task Observation Evaluation Record", questions: [
                {
                    type: "matrixdropdown",
                    name: "Feelings",
                    title: "Evaluation Criteria",

                    columns: [
                        {
                            name: "Yes/No/NA",
                            cellType: "radiogroup",
                            showInMultipleColumns: true,
                            isRequired: true,
                            choices: ["Yes", "No", "N/A"]
                        }, {
                            name: "comment",
                            title: "Comments",
                            cellType: "comment"
                        }
                    ],
                    rows: [
                        "Instruction steps followed safely and logically?",
                        "Correct Tools/equipment used?",
                        "Tools/Equipment used correctly and safely?",
                        "Correct PPE used and used as prescribed?",
                        "Work place Safe?",
                        "Consideration of fellow employee’s safety",
                        "Activity conducted orderly and cleanliness of immediate work area?",
                        "Hazards recognised by person Evaluated?"
                    ]
                }

                ,
                {
                    type: "signaturepad",
                    name: "signature",
                    title: "Employee signature"
                }
            ]
        };

        Survey.StylesManager.applyTheme("bootstrap");
        var survey = new Survey.Model(surveyJSON);
        let Res = @Html.Raw(Model.SurveyResult);
        $("#surveyContainer").Survey({
            model: survey,
            data: Res,
            //onComplete: saveSurvey
        });

        survey.showCompletedPage = false;
        survey.mode = 'display';


    </script>
}
